{% include "cases/kdump/host_requires.xml.j2" %}
{% if ARCH == "ppc64le" %}
  <hostname op="!=" value="ibm-p9b-03.pnr.lab.eng.bos.redhat.com"/>
  <hostname op="!=" value="ibm-p9b-11.pnr.lab.eng.bos.redhat.com"/>
{% endif %}
{# Kdump fails on ampere-mtsnow-altramax: https://datawarehouse.cki-project.org/issue/1517 #}
{% if ARCH == "aarch64" and TREE.startswith("rhel8") %}
  <not>
    <hostname op="like" value="ampere-mtsnow-altramax%"/>
  </not>
{% endif %}
{# Kdump fails on ibm-p9z-22, see BZ1782036 #}
{% if ARCH == "ppc64le" and TREE.startswith("rhel8") %}
  <hostname op="!=" value="ibm-p9z-22.pnr.lab.eng.bos.redhat.com"/>
{% endif %}
{# System reboots instead of kexec.g to kdump kernel after sysrq-c panic, see BZ1782036 #}
{% if ARCH == "ppc64le" and TREE == "fedora-latest" %}
  <not>
    <hypervisor op="like" value="%KVM"/>
  </not>
{% endif %}
