{# VMs don't support running 64K-page kernels yet #}
{% include "host_types/bare_metal.host_requires.xml.j2" %}
{# exclude ampere-hr330a% due to RHEL-31759 #}
<and>
  <not>
    <hostname op="like" value="ampere-hr330a%"/>
  </not>
</and>
